<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="https://cdn.tailwindcss.com"></script>
    <title>Vue Learning</title>
  </head>

  <body class="h-full grid place-items-center">
    <div id="app">
      <section class="mb-4" v-if="inProgressAssignments.length > 0">
        <h3 class="text-xl font-bold">Assignments in Progress</h3>
        <ul>
          <li v-for="assignment in inProgressAssignments" :key="assignment.id">
            <label>
              {{ assignment.name }}
              <input type="checkbox" v-model="assignment.completed" />
            </label>
          </li>
        </ul>
      </section>

      <section class="mb-4" v-if="completedAssignments.length > 0">
        <h3 class="text-xl font-bold">Assignments Completed</h3>
        <ul>
          <li v-for="assignment in completedAssignments" :key="assignment.id">
            <label>
              {{ assignment.name }}
              <input
                type="checkbox"
                v-model="assignment.completed"
                :key="assignment.id"
              />
            </label>
          </li>
        </ul>
      </section>
    </div>

    <script>
      let app = {
        data() {
          return {
            assignments: [
              { id: 1, name: "Assignment 1", completed: false },
              { id: 2, name: "Assignment 2", completed: false },
              { id: 3, name: "Assignment 3", completed: false },
            ],
          };
        },
        computed: {
          inProgressAssignments() {
            return this.assignments.filter((a) => {
              return !a.completed;
            });
          },
          completedAssignments() {
            return this.assignments.filter((a) => {
              return a.completed;
            });
          },
        },
      };

      Vue.createApp(app).mount("#app");
    </script>
  </body>
</html>
